<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6g1cBgiHhhRqaP-TPYiq61duLVXiISII</string>
	<key>GCM_SENDER_ID</key>
	<string>972204008260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.matthew.SportiliApp</string>
	<key>PROJECT_ID</key>
	<string>sportiliapp</string>
	<key>STORAGE_BUCKET</key>
	<string>sportiliapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972204008260:ios:15a01c77d594fe0771ad11</string>
</dict>
</plist>